:root {
  --dark: #2472b3;
  --dark-x: #457eae;
  --light: #ffffff;
}
body {
  font-family: "Spartan", sans-serif;
  font-weight: 300;
  color: var(--light);
}
.bg-dark {
  background-color: var(--dark) !important;
}
.bg-dark-x {
  background-color: var(--dark-x);
  color: #FFFFFF ;
}
.form-control,
btn {
  min-height: 3.125rem;
  line-height: initial;
}

.logo {
  max-width: 200px;
  max-height: 200px;
}

.img1 {
  background-image: url("../images/carousel1.jpg");
  background-size: cover;
  background-position: center;
}
.img2 {
  background-image: url("../images/carousel2.jpg");
  background-size: cover;
  background-position: center;
}


.img3 {
  background-image: url("../images/imgo1.jpeg");
  background-size: cover;
  background-position: center;
}
.img4 {
  background-image: url("../images/imgo2.jpeg");
  background-size: cover;
  background-position: center;
}


#botonlogin{
  background-color: #30AF4E !important;
  border-color: #30AF4E;
}

#passf{
  color: #ffffff !important;  
}

#exampleInputPassword1::placeholder{
  color: #ffffff !important;
}

#exampleInputEmail1::placeholder{
  color: #ffffff !important;
}

#exampleInputName1::placeholder{
  color: #ffffff !important;
}

#exampleInputId1::placeholder{
  color: #ffffff !important;
}

h1{
   text-shadow: 1px 2px #999;
}
